.collection {
  margin-left: calc(var(--spacer) * -1 + var(--spacer) / 3.5);
}

.assetType {
  display: inline-block;
  border-right: 1px solid var(--border-color);
  padding-right: calc(var(--spacer) / 3.5);
  margin-right: calc(var(--spacer) / 4);
}

.updated {
  font-size: var(--font-size-mini);
}

.addWrap {
  padding-left: calc(var(--spacer) / 5);
  border-left: 1px solid var(--border-color);
  display: inline-block;
}

.add {
  font-size: var(--font-size-mini);
}
